[submodule "WeatherAppAPIBackend"]
	path = WeatherAppAPIBackend
	url = https://github.com/ensarerturk/WeatherAppAPIBackend
[submodule "WeatherAppAPIFrontend"]
	path = WeatherAppAPIFrontend
	url = https://github.com/ensarerturk/WeatherAppAPIFrontend
